@page "/"

<PageTitle>Index</PageTitle>

<h1>Лабораторная работа #1 Слепушко Артём БСМО-01-20</h1>

<p>
    1. Разработать программу, представляющую собой форму
    <br />доступа к определённым информационным ресурсам на основе пароля.
</p>
<p>
    <span>2.	Доступ к ресурсу должен быть разрешен только санкционированным пользователям.<br /></span>
    <span>Для этого в программе должны храниться имена пользователей и их пароли<br /></span>
    <span>При попытке доступа пользователя к ресурсу проверяется наличие его идентификатора (имени)<br /></span>
    <span>в системе и соответствие введенного пароля паролю, который хранится в системе.<br /></span>
</p>
<br />
3.	В системе должна храниться следующая информация о пользователе:
<ul>
    <li>ID или имя пользователя</li>
    <li>Пароль</li>
    <li>Фио</li>
    <li>Дата рождения</li>
    <li>Место рождения (Город)</li>
    <li>Номер телефона</li>
</ul>
<br />
<p>4.	Пользователь должен иметь возможность поменять пароль</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Дополнительные параметры</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tr>
        <td>Вариант</td>
        <td>15</td>
    </tr>
    <tr>
        <td>Длина пароля</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Используемые символы:</td>
        <td>Латиница (строчные и прописные буквы)</td>
    </tr>
    <tr>
        <td>Дополнительные средства защиты:  </td>
        <td>При смене пароля: проверка на отсутствие повторяющихся символов.</td>
    </tr>
</table>